@charset "UTF-8";

/* 共通 */
:root {
  --main-color: #6bae75;
  --accent-color: #f4a261;
  --sub-color: #f6d55c;
  --base-color: #fffdf7;
  --text-color: #2c3e50;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

/* 見出し */
h1,
h2,
h3 {
  font-family: 'Noto Sans JP',
    sans-serif;
  text-align: center;
  margin: 1.5em 0;
  /* 上下に1.5em、左右は0 */
}

h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
}

h2:before {
  content: '';
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* ボタン */
button,
.cta {
  font-family: 'Noto Sans JP',
    sans-serif;
}

/* 文字サイズ */
.text-large {
  font-size: 2rem;
}

.text-medium {
  font-size: 1.5rem;
}

/* 余白 */
.mb-1 {
  margin-bottom: 0.5em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

/* 画像 */
img {
  display: block;
  object-fit: cover;
  width: 100%;
  margin: 0;
  /* 不要な余白をリセット */
  border: none;
  /* デフォルトの枠線を消す */
  /* vertical-align: middle; */
  /* テキストと画像のズレを調整 */
}

/* リスト */
li {
  list-style: none;
}

a {
  text-decoration: none;
}
p {
    line-height: 1.7;
}

/* レイアウト */
.contents-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: var(--base-color);
  margin: 0 auto;
}

.text-align-left {
  text-align-last: left;
}

.text-box {
  text-align: left;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

/* ヘッダー */
.header01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--main-color);
  color: #fff;
}

.logo {
  width: 60px;
  height: 30px;
}

.header-logo {
  color: #fff;
  font-weight: bold;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav.nav ul.item {
  display: flex;
  align-items: center;

}

li.list {
  padding-right: 1.5rem;
}

li.list a {
  font-weight: bold;
  color: #fff;
}

.list-contact a {
  display: inline-block;
  background: var(--accent-color);
  color: #fff;
  font-style: 0.9rem;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1.2rem;
}

#menu-btn,
.nav-hidden {
  display: none;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--base-color);
}

/* ファーストビュー */
.fv-img-wrapper {
  position: relative;
}

/* オーバーレイを疑似要素で追加 */
.fv-img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  /* 黒の半透明 */
  z-index: 1;
  /* 背面に配置 */
}

/* ファーストビュー */
.fv-img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 0;

}

/* キャッチコピーも前面に */
.fv-catch {
  display: flex;
  flex-direction: column;
  /* 縦並びに */
  align-items: center;
  /* 中央揃え */
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  /* 文字間隔を少し広げる */
  color: white;
  z-index: 2;
  padding: 1em;
  max-width: 300px;
  /* 折り返しの幅を制限 */
  word-break: keep-all;
  /* 日本語の不自然な改行を防ぐ */
  /* background-color: #2c3e50; */
}

/* コンテンツ */
.content .cards-container {
  display: flex;
  flex-direction: column;
  /* 縦並びに */
  align-items: center;
  /* 中央揃え */
  justify-content: center;
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: var(--base-color);
  /* border: 1px solid black; */
}

.card {
  width: 100%;
  /* もしくは固定幅や最大幅 */
  /* max-width: 600px; */
  /* 任意の最大幅を設定すると見栄えが安定します */
  background-color: #fff;
  margin: 0 0 1rem 0;
}

.card-textbox {
  word-wrap: break-word;
  /* 長い単語も折り返す */
  overflow-wrap: break-word;
  /* 同上、より新しいプロパティ */
  white-space: normal;
  /* 折り返しを許可 */
  margin: 1rem 0;
  padding: 0 1rem;
  line-height: 1.7;
}

/* 参加者の声 */
.comment-box {
  background-color: rgb(200, 240, 210);
  padding: 0.2em 1em 1em 1em;
  margin: 1.5rem;
  border-radius: 24px;
  max-width: 700px;
}

/* よくある質問 */
.qa-8 {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.qa-8 dt {
  margin-bottom: 1em;
  color: var(--text-color);
  font-weight: 600;
}

.qa-8 dt::before,
.qa-8 dd::before {
  margin-right: .4em;
}

.qa-8 dt::before {
  content: "Q.";
}

.qa-8 dd {
  margin: 0 0 2.5em;
  padding: 1em 1.5em;
  background-color: rgb(242, 242, 170);
  color: var(--text-color);
  border-radius: 16px;
  text-align-last: left;
}

.qa-8 dd::before {
  content: "A.";
}

/* お問い合わせフォーム */
.contact {
  text-align: center;
}

.form01 {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background: #f4f4f4;
  padding: 2rem;
}

.form-inner {
  margin-bottom: 2rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-label label {
  vertical-align: middle;
  /* ラベルと必須マークをそろえる */
}

.required {
  display: inline-block;
  background: #EA7474;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.radio-inner {
  display: inline-block;
  margin-right: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 40px;
  background: #fff;
  padding: 1rem;
}

input[type="date"] {
  width: 100%;
  height: 40px;
  background: #fff;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 200px;
  background: #fff;
  padding: 1rem;
}

.form-btn {
  display: block;
  width: 130px;
  background: var(--accent-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 auto;
}

/* Google フォーム */
.google-form {
  margin-top: 2rem;
  text-align: center;
}

.google-form-inner iframe {
  width: 100%;
  height: 100vh;
  /* 高さは好みに応じて調整 */
  max-width: 640px;
  /* PCでは元の幅を超えないように制限 */
  border: none;
}

/* アクセス */
#access {
  width: 100%;
  padding: 2rem;
}

.access-inner iframe {
  width: 100%;
  height: 60vh;
  /* 高さは好みに応じて調整 */
  max-width: 640px;
  /* PCでは元の幅を超えないように制限 */
  border: none;
}

/* フッター */
footer {
  background: var(--main-color);
  color: #fff;
  padding-top: 2rem;
}

.footer-container {
  text-align: center;
}

/* nav.nav {
  margin: 2rem;
} */
.footer-logo {
  color: #fff;
  font-weight: bold;
  margin-bottom: 1em;
}

table {
  border: none;
  width: 70％;
  max-width: 400px;
  margin: 0 auto 3rem;
  /* 横幅の上限（お好みで） */
}

th,
td {
  border: none;
  width: 100px;
  /* 枠線 */
}

th {
  text-align: left;
  /* 左寄せ */
  width: auto;
  /* 項目名の幅（お好みで調整） */
}

nav.nav ul.item {
  display: flex;
  justify-content: center;
}

nav.nav ul.item li.list {
  padding: 0 0.5rem;
}

nav.nav ul.item li.list a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
}

ul.sns-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  /* background-color: palegoldenrod; */
}

ul.sns-container li.list {
  padding-right: 0;
}

ul.sns-container li.list img {
  width: 50px;
  height: auto;
}

.line-qr-code {
  width: 150px;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #9dbca2;
  color: #fff;
  margin: 3rem auto;
}

.copyright {
  background: var(--main-color);
  padding: 1rem;
}

/* モバイル版 */
@media(max-width:768px) {

  /* ハンバーガーメニュー */
  #menu-btn {
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 5;
  }

  #menu-btn span,
  #menu-btn span::before,
  #menu-btn span::after {
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background: #1c6b59;
    position: absolute;
    transition: 0.2s;
  }

  #menu-btn span {
    top: 0;
  }

  #menu-btn span::before {
    top: 8px;
  }

  #menu-btn span::after {
    top: 16px;
  }

  #nav-input:checked~#menu-btn span {
    top: 8px;
    transform: rotate(45deg);
  }

  #nav-input:checked~#menu-btn span::before {
    opacity: 0;
  }

  #nav-input:checked~#menu-btn span::after {
    top: 0;
    transform: rotate(-90deg);
  }

  .logo {
    width: 50px;
    height: 20px;
  }

  nav.nav {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 4;
    background: var(--main-color);
    transition: 0.5s;
  }

  nav.nav ul.item {
    display: block;
    padding: 4rem 2rem;
  }

  nav.nav ul.item li.list {
    padding-left: 0;
    padding-bottom: 1.5rem;
  }

  header.header01 #nav-input:checked~nav.nav {
    right: 0;
  }
}

/* デスクトップ版 */
@media(min-width:769px) {
  .cards-container {
    max-width: 60%;
  }

  ul.sns-container {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
  }

  ul.sns-container li.list {
    padding-right: 0;
    margin-top: 3rem;
  }

  ul.sns-container li.list img {
    width: 50px;
    height: auto;
  }

  nav.nav ul.item li.list {
    padding: 0 1rem;
  }

  nav.nav ul.item li.list a {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
  }


  .line-qr-code {
    margin-bottom: 3em;
  }

}